# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
build/
capture/

# Credenciais (REQUISITO: Isolamento de segredos)
local.properties
secrets.h

# Kotlin / Java
*.class
*.log

# Telemetria (Exportações acadêmicas)
*.csv
telemetry_*.csv

# Sistema
.DS_Store
